body{
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  justify-content: center;
  /* background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fG5hdHVyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"); */
  /* background: url("https://img.freepik.com/free-photo/parks-mountains-reflection-mountain-decoration-garden_1417-1025.jpg?w=826&t=st=1680952113~exp=1680952713~hmac=7612d5d526fdf4db6cc18ce6431f9cf9599c72687cf168a09862a080149462be"); */
  background: url("https://img.freepik.com/free-photo/vestrahorn-mountains-stokksnes-iceland_335224-667.jpg?w=900&t=st=1680952309~exp=1680952909~hmac=6bb52b2cc02b89e8cf04184439286af6e85eb67694ee337e4e0e2fcac5aaf0b5");
  background-size: cover;
  background-color: blue;
}

h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.clock{
  display: flex;
}
.clock div{
  margin: 5px;
  position: relative;
}

.clock span{
width: 100px;
height: 80px;
background-color: slateblue;
opacity: .8;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.clock .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: darkblue;
  opacity: .8;
}
.clock #ampm{
  bottom:0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 15px;
  background: green;
}