@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* outline: .5px solid green; */
}
body{
     font-family: 'Roboto', sans-serif;
     background: salmon;
     background: url("https://img.freepik.com/free-photo/parks-mountains-reflection-mountain-decoration-garden_1417-1025.jpg?w=826&t=st=1680952113~exp=1680952713~hmac=7612d5d526fdf4db6cc18ce6431f9cf9599c72687cf168a09862a080149462be"); 
     background-size: cover;
}

.container{
     
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.calender{
     background: rgba(31, 46, 4, 0.6);
     color: rgb(255, 255, 255);
     width: 450px;
     height: 520px;
     border-radius: 10px;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);

}
.month{
     width: 100%;
     height: 120px;
     color: white;
     display: flex;
     flex-direction: column;
     background: lightseagreen;
     background: #96ec04;
     background: rgb(129, 192, 12);
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 10px 10px 0 0;
}

.month h1{
     font-size: 30px;
     font-weight: 400;
     text-transform: uppercase;
     margin-bottom: 5px;
}
.month p{
     font-size: 16px;
}
.weekdays{
     width: 100%;
     height: 50px;
     display: flex;
     
}
.weekdays div{
     font-size: 15px;
     font-weight: bold;
     letter-spacing: 1px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     /* background-color: lightblue; */
}
.days{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     padding: 2px;
}
.days div{
     font-size: 14px;
     margin: 3px;
     width: 57.5px;
     height: 55px;
     display: flex;
     justify-content: center;
     align-items: center;
}
/* .days .empty{
     background-color: green;
} */

.days div:hover:not(.empty){
     border: 2px solid rgb(255, 255, 255);
     cursor: pointer;
}

.today{
     background: rgb(129, 192, 12);
}